.header {
	height: 100%;

	&-top {
		position: relative;
		z-index: 112;
		background-color: $white;
		padding: 2rem 0;
		display: flex;
		align-items: center;
		justify-content: center;

		&-menu {
			display: none;
		}

		&__menu {
			&-left {
				margin-right: 10rem;
				position: relative;

				& > ul {
					display: flex;
					align-items: center;
				}
			}
		}

		&__menu-left > ul > li {

			& > a {
				transition: all .3s linear;
				color: #212121;
				@extend %bebasneue-700;
				font-size: 2.4rem;
				line-height: 100%;
				letter-spacing: 0.05em;
			}

			&:not(:last-child) {
				margin-right: 10rem;
			}
		}

		&__menu-left > ul > li {

			& > span {
				transition: all .3s linear;
				color: #212121;
				@extend %bebasneue-700;
				font-size: 2.4rem;
				line-height: 2.4rem;
				letter-spacing: 0.05em;

			}

			&:hover {
				& > a {
					color: $green-600;
				}

				& > span {
					color: $green-600;
				}
			}
		}

		&__menu-right > ul {
			display: flex;
			align-items: center;

			& > li > a {
				color: #212121;
				@extend %bebasneue-700;
				font-size: 2.4rem;
				line-height: 2.4rem;
				letter-spacing: 0.05em;
				transition: all .3s linear;
			}
		}


		&__menu-right > ul > li {

			&:hover {
				& > a {
					color: $green-600;
				}
			}

			&:not(:last-child) {
				margin-right: 10rem;
			}
		}
	}


	&-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: darken(#F0F8F6, 4%);
		border-bottom: .2rem solid $green-600;
		&.header-top{
			padding: 1rem 2.7rem;
		}
	}

	&-mobile {
		&__menu {
			height: 0;
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
			transform: translateY(-250%);
		}
	}

	&-bottom {
		position: relative;
		height: 100%;
		width: 100%;

		&__text {
			position: relative;
			margin: 0 auto;
			max-width: 110rem;
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&__title {
			display: flex;
			justify-content: center;

			& > h1 {
				@extend %bebasneue-700;
				font-size: 9.6rem;
				line-height: 100%;
				text-align: center;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
	}

	&-bottom__bg {
		position: absolute;
		z-index: 99;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		width: 100%;

		& > picture {
			& > img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	&-bottom__showcase {
		&-img {
			width: 100%;
			height: 100%;

			& > img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-first {
			max-width: 25rem;
			height: 21rem;
		}

		&-second {
			max-width: 25rem;
			height: 21rem;
		}
	}

	&-bottom__showcase {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-around;
		z-index: 100;

		&-elem {
			position: relative;
		}
	}

	&-bottom__showcase {
		&-lg {
			max-width: 67rem;
			height: 47rem;

			& > picture {
				width: 100%;
				height: 100%;

				& > img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}


	&-bottom__showcase {
		&-fourth {
			max-width: 25rem;
			height: 25rem;
		}

		&-fifth {
			max-width: 25rem;
			height: 25rem;
		}

		&-line {
			display: none;
		}
	}

	&-bottom__inner {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 111;
		padding: 7rem 0;
	}

	&-bottom__btn {
		position: relative;
		display: inline-block;
		text-align: center;
		max-width: 28rem;
		transform: translateX(-50%);
		right: -50%;

		&:hover > a {
			border: .1rem solid $green-600;
			background-color: #fff;
			color: $green-600;
		}


		& > a {
			transition: all .3s linear;
			border: .1rem solid transparent;
			border-radius: 5rem;
			background-color: #01A3A4;
			display: block;
			padding: 2.2rem 6rem 1.9rem;
			@extend %bebasneue-700;
			font-size: 2.9rem;
			line-height: 2.9rem;
			color: $white;

		}
	}


	&-bottom__subtitle {
		display: flex;
		justify-content: flex-end;

		& > * {
			@extend %galada-400;
			max-width: 60rem;
			font-size: 7.2rem;
			line-height: 120%;
			color: $white;
		}

		& > p > span {
			padding-left: 22rem;
		}

	}
}


.logo {
	&-wrap {
		height: 10rem;
		width: 19.1rem;

		& > img {
			width: 100%;
			height: 100%;
		}
	}

	&-link {
		margin-right: 10rem;
	}
}

.header__dropdown {
	position: absolute;
	background-color: $white;
	top: 5.5rem;
	left: 12.1rem;
	width: 18rem;
	overflow: hidden;
	opacity: 0;

	ul > li {
		cursor: pointer;
		padding: 3rem 2rem;

		& > a {
			color: $black;
			text-transform: uppercase;
			font-size: 2.4rem;
			line-height: 2.4rem;
			@extend %bebasneue-700;
		}
	}

	&--active {
		overflow: visible;
		opacity: 1;


		&::before {
			position: absolute;
			content: "";
			top: -1.4rem;
			left: 2.4rem;
			width: 5.2rem;
			height: .2rem;
			background-color: $green-600;
		}
	}
}


.header__dropdown ul > li > a {


	color: $black;
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 2.4rem;
	@extend %bebasneue-700;
}

.header__dropdown ul > li {
	&:nth-child(even) {
		background-color: $green-100;
	}

	&:nth-child(odd) {
		background-color: $white;
	}

	&:hover:nth-child(odd) {
		background-color: #C4C4C4;
	}

	&:hover:nth-child(even) {
		background-color: rgba(1, 163, 164, 0.67);
	}
}

@media(max-width: 666px) {
	.container {
		max-width: 144rem;
	}

	.logo-wrap {
		width: 24rem;
		height: 12.5rem;
	}

	.header {
		height: 100vh;

		&-top {
			justify-content: space-between;
			padding: 1rem 0;

			&__menu {
				&-left,
				&-right {
					display: none;
				}
			}
		}
	}

	.header-menu {
		position: relative;
		display: block;
		height: 3rem;
		width: 6rem;

		&--active {
			& .header-menu__elem-first,
			.header-menu__elem-fourth {
				display: none;
			}

			& .header-menu__elem-second {
				top: 1.5rem;
				transform: rotate(-45deg) translateY(0%);
			}

			& .header-menu__elem-third {
				top: 1.5rem;
				transform: rotate(45deg) translateY(0%);
			}
		}
	}


	.header-menu__elem {
		background-color: #34495E;
		width: 100%;
		height: .4rem;
		border-radius: 5rem;
		transition: all .3s linear;

		&-first {
			position: absolute;
			top: 0;
		}
	}

	.header-menu__elem {
		&-second {
			position: absolute;
			height: 0.15rem;
			top: 1.4rem;
			transform: translateY(30%);
		}

		&-third {
			position: absolute;
			height: 0.15rem;
			top: 1.3rem;
			transform: translateY(30%);
		}

		&-fourth {
			position: absolute;
			bottom: 0;
		}
	}

	.header-mobile__menu {
		z-index: 11111;
		position: absolute;
		top: 14rem;
		left: 0;
		right: 0;
		opacity: 1;
		visibility: visible;
		will-change: transform, opacity;
		height: calc(100vh - 7rem);
		background-color: #F0F8F6;
		animation: hideMenu .7s ease-in-out;

		&.menu--active {
			transform: translateY(0%);
			animation: showMenu .7s ease-in-out;
		}

	}


	.header-mobile__menu-list {
		& > ul {
			padding-top: 13.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			& > li {
				display: flex;
				align-items: center;
				flex-direction: column;
				width: 100%;
				cursor: pointer;
			}
		}
	}

	.header-mobile__menu-list > ul > li {
		&:not(:last-child) {
			margin-bottom: 6.3rem;
		}

		&:hover {
			background-color: #e4eFea;
		}
	}

	.header-mobile__menu-list > ul > li > a {
		font-family: 'Bebas Neue';
		font-weight: 700;
		font-size: 5rem;
		line-height: 5rem;
		letter-spacing: 0.05em;
		color: $black;
		transition: color .3s linear;

		&:hover {
			color: #FDC959;
		}

		&:not(:last-child) {
			margin-bottom: 2.5rem;
		}

		&:last-child {
			padding-bottom: 2.4rem;
		}

	}

	.header-mobile__menu-circle {
		right: 0;
		bottom: -0.5rem;
		position: absolute;
		width: 23rem;
		height: 29rem;

		& > img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.header-bottom {
		padding: 2.5rem 0;
		height: calc(100vh - 8rem);

		&__inner {
			padding: 1rem 0 4rem 0;
			height: calc(100vh - 30rem);
		}

		&__text {
			padding-bottom: 10rem;
		}

		&__title {
			display: block;
			max-width: 100%;

			& > h1 {
				text-align: center;
				font-size: 8rem;
			}
		}
	}

	.header-bottom {

		&__subtitle {
			justify-content: center;

			& > * {
				max-width: 100%;
				line-height: 110%;
				font-size: 6rem;
			}

			& > p > span {
				padding-left: 0;
			}
		}
	}

	.header-bottom__showcase {
		flex-wrap: wrap;
		flex-grow: 666;
		align-items: flex-start;

		&-elem {
			width: 18.2rem;
			height: 18rem;
		}

		&-lg {
			flex-grow: 66;
			width: 100%;
			order: 5;
			max-width: 80%;
			height: 50rem;

			& > picture {
				max-width: 23.7rem;
				height: 17.9rem;
				object-fit: scale-down;
				margin: 0 auto;
			}
		}
	}

	.header-bottom__showcase-line {
		display: block;

		& > img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&--first {
			position: absolute;
			left: 2rem;
			z-index: 111;
			bottom: -22.7rem;
			width: 30rem;
			height: 12rem;
			transform: rotate(45deg);
		}
	}

	.header-bottom__showcase-line {
		&--second {
			position: absolute;
			right: -2rem;
			bottom: -26rem;
			z-index: 1111;
			width: 11rem;
			height: 24.5rem;
		}

		&--third {
			position: absolute;
			width: 8rem;
			height: 30rem;
			z-index: 111;
			bottom: -30rem;
			right: 0;
		}

		&--fourth {
			bottom: -26rem;
			left: 2rem;
			position: absolute;
			width: 12rem;
			height: 23rem;
		}
	}

	.header-bottom {
		&__btn {
			max-width: 80rem;
			padding-bottom: 8rem;

			& > a {
				border-radius: 12.5rem;
				padding: 4rem;
				font-size: 7.25rem;
				line-height: 100%;
			}
		}

		&__bg {
			height: calc(100vh - 7rem);
		}
	}
}
