.blog {
	padding: 10rem 0;
	position: relative;

	&-title {
		display: flex;
		justify-content: center;
		margin-bottom: 5rem;

		& > h5 {
			@extend %bebasneue-700;
			font-size: 4.8rem;
			line-height: 4.8rem;
			color: #000;
		}
	}

	&-inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1111;
	}

	&-card {
		border: .1rem solid $green-100;
		max-width: 38.7rem;
		height: 53.1rem;
		transition: all .3s linear;
		background: #fff;

		&__img {
			height: 21.8rem;
			width: 100%;

			& > img {
				height: 100%;
				width: 100%;
			}
		}

		&__question {
			margin-bottom: 4.2rem;

			& > * {
				@extend %bebasneue-700;
				font-size: 2.4rem;
				line-height: 2.4rem;
				letter-spacing: 0.05em;

			}

			&-mb {
				margin-bottom: 2.4rem;
			}
		}
	}

	&-card {
		&__text {
			margin-bottom: 3.7rem;

			& > p {
				@extend %roboto-400;
				color: $gray;
				font-size: 1.4rem;
				line-height: 150%;
			}
		}
		&__line {
			width: 6.0rem;
			height: .7rem;
			margin-bottom: 3rem;

			& > img {
				display: block;
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}
	}

	&-card {
		&__link {

			display: flex;
			width: 100%;
			justify-content: flex-end;

			& > a {
				border: .1rem solid transparent;
				border-radius: 5rem;
				padding: .8rem 2rem;
				background-color: $green-600;
				@extend %roboto-400;
				font-size: 1.2rem;
				line-height: 1.4rem;
				color: $white;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				transition: all .3s linear;

				&:hover {
					border: .1rem solid $green-600;
					background-color: #fff;
					color: $green-600;
				}
			}

		}
		&__wrap {
			max-width: 100%;
			padding: 4.2rem 4rem 4rem 4rem;
		}
	}

	&-pagination{
		.swiper-pagination-bullet{
			display: block;
			width: 6.6rem;
			height: 0.4rem;
			&:not(:last-child){
				margin-right: 2rem;
			}
		}
	}

	&-bg {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		z-index: 0;

		& > svg {
			width: 100%;
			height: 17.8rem;
			object-fit: cover;
		}
	}
}

@media(max-width: 666px) {

	.blog {
		&-bg{
			display: none;
		}
		&-inner {
			padding-bottom: 5rem;
			flex-direction: row;
		}

		&-card {
			max-width: 95%;
			height:96.5rem;
			padding-left: 2rem;
			&:nth-child(2) {
				padding-left: 5rem;
			}

			&:nth-child(3) {
				padding-left: 4.5rem;
			}

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		&-card {
			&__img{
				height: 40.5rem;
			}
			&__wrap{
				padding: 6.25rem 7.5rem 6.25rem 6.25rem ;
			}
		}
		&-card {
			&__question{
				& > span{
					font-size: 4.5rem;
					line-height: 5.5rem;
				}
				& > p{
					font-size: 4.5rem;
					line-height: 5.5rem;
				}
			}
			&__text{
				& > p {
					font-size: 4rem;
					line-height: 150%;
				}
			}
		}
		&-card{
			&__link{
				& > a {
					padding:2rem 5rem;
					background-color: #01A3A4;
					font-size:3rem;
					line-height: 3.5rem;
					color: #fff;
					letter-spacing: 0.05em;
					text-transform: uppercase;
				}
			}
		}
	}
}

