.footer{
	z-index: 12;
	position: relative;
	&::before{
		position: absolute;
		content: '';
		width: 100%;
		height: .1rem;
		background-color: $green-100;
	}
	&::after{
		position: absolute;
		content: '';
		width: 100%;
		height: .1rem;
		background-color: $green-100;
		bottom: 6.8rem;
	}
	&-inner{
		position: relative;
		padding: 7rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__bottom{
			padding: 1.8rem 0;
			position: relative;
			display: flex;
			align-items: center;
			justify-content:space-between ;
			&-project{
				@extend %roboto-400;
				font-size: 1.2rem;
				line-height: 1.4rem;
			}
			&-company{
				display: flex;
				align-items: center;
			}
			&-text{
				@extend %roboto-400;
				font-size: 1.2rem;
				line-height: 150%;
				margin-right: 1rem;
			}
			&-img{
				width: 38px;
				height: 30px;
				& > * {
					width:100% ;
					height: 100%;
				}
			}
		}
	}
	&-logo{
		width: 9.5rem;
		height: 5rem;
		& > img{
			width: 100%;
			height: 100%;
			background-size: cover;
		}
	}
	&-link__list{
		display: flex;
		&--mr{
			margin-right: 3rem;
		}
		&-elem{
			& > a {
				@extend %bebasneue-700;
				font-size: 1.8rem;
				line-height: 1.8rem;
				letter-spacing: 0.05em;
				color: $black;
			}
			&:not(:last-child){
				margin-right: 3rem;
			}
		}
	}
	&-social__inner{
		display: flex;
		&-elem{
			&:not(:last-child){
				margin-right: 2rem;
			}
		}
		&-link{
			& > *{
				width: 3rem;
				height: 3rem;
			}
		}
	}
	&-wrap__right{
		display: flex;
		align-items: center;
		&:first-child{
			margin-right: 3rem;
		}
	}
	&-circle__wrap{
		overflow: hidden;
		z-index: 11;
		position: absolute;
		top: -9rem;
		left: 10rem;
		width: 13.6rem;
		height: 9.1rem;
		& > img {
			padding: 4.5rem 0 0 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			overflow: visible;
			box-sizing: content-box;
		}
	}
}

@media(max-width: 1680px){
	.container {
		max-width: 114rem;
	}

	.footer{
		&-link__list {
			&--mr {
				margin-right: 2.5rem;
			}
			&-elem{
				&:not(:last-child){
					margin-right: 2.5rem;
				}
			}
		}
		&-social__inner-link{
			& > * {
				width: 2.7rem;
				height: 2.7rem;
			}
		}
	}
}

@media(max-width: 1440px){

	.container {
		max-width: 110rem;
	}

	.footer{
		&-link__list {
			&--mr {
				margin-right: 2.3rem;
			}
			&-elem{
				&:not(:last-child){
					margin-right: 2.3rem;
				}
			}
		}
		&-social__inner-link{
			& > * {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}

}

@media(max-width: 1280px) {

	.container {
		max-width: 100rem;
	}

	.footer{
		&-link__list {
			&--mr {
				margin-right: 1.4rem;
			}
			&-elem{
				&:not(:last-child){
					margin-right: 2.1rem;
				}
			}
		}
		&-social__inner-link{
			& > * {
				width: 2.3rem;
				height: 2.3rem;
			}
		}
		&-logo{
			width: 8rem;
			height: 3.7rem;
		}
		&-social__inner-elem:not(:last-child){
			margin-right: 1.6rem;
		}
	}


}

@media(max-width: 1024px) {

	.container {
		max-width: 90rem;
	}

	.footer{
		&-link__list {
			&--mr {
				margin-right: 1rem;
			}
			&-elem{
				&:not(:last-child){
					margin-right: 1.7rem;

				}
				& > a {
					font-size: 1.6rem;
					line-height: 1.6rem;
				}
			}
		}
		&-social__inner-link{
			& > * {
				width: 2rem;
				height: 2rem;
			}
		}
		&-social__inner-elem:not(:last-child){
			margin-right: 1.5rem;
		}
	}
}

@media(max-width: 768px) {
	.container {
		max-width: 71rem;
	}

	.footer{
		&-inner{
			flex-direction: column;
			padding: 5rem 0;
			&__bottom{
				padding: 1.5rem 0;
			}
		}
		&-logo{
			order: -1;
		}
		&-link__list{
			flex-direction: column;
			align-items: center;
			margin-bottom: 2.2rem;
			&-elem:not(:last-child){
				margin-right: 0;
				margin-bottom: 2.2rem;
			}
			&--mr{
				margin-right: 0;
				margin-bottom: 3rem;
				flex-direction: column;
			}
		}
		&-wrap__right{
			flex-direction: column;
			align-items: center;
		}
		&-logo{
			width: 13.7rem;
			height: 7rem;
			margin-bottom: 3.2rem;
		}
		&-social__inner{
			&-elem{
				& > a > svg {
					width: 3.5rem;
					height: 3.5rem;
				}
			}
		}
	}
}

@media(max-width: 666px){
	.container {
		max-width: 57.6rem;
	}

	.footer{
		&-inner{
			padding: 3.2rem;
			&__bottom {
				&-text {
					margin-right: .5rem;
					& > p {
						font-size: 1.1rem;
						line-height: 150%;
					}
				}
				&-project{
					font-size: 1.1rem;
					line-height: 13px;
				}
			}
		}
		&-social__inner{
			&-elem{
				& > a > svg {
					width: 2.7rem;
					height: 2.7rem;
				}
			}
		}
		&-inner {

		}
	}
}



