.posts {
	padding: 10rem 0;
	background-color: $green-100;

	&-top__text {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 5rem;

		&-subtitle {
			@extend %roboto-400;
			color: $green-600;
			font-size: 1.4rem;
			line-height: 1.6rem;
			letter-spacing: 0.25em;
			margin-bottom: 2rem;
		}

		&-title {
			& > h3 {
				@extend %bebasneue-700;
				color: $black;
				font-size: 4.8rem;
				line-height: 100%;
			}
		}
	}
}

.posts {
	&-inner {
		display: flex;
		height: 48.7rem;
	}

	&-block {
		position: relative;
		width: 23.9rem;
		height: 23.9rem;

		& > img {
			width: 100%;
			height: 100%;
		}


		&__circle-left {
			position: absolute;
			width: 6.6rem;
			height: 6.6rem;
			top: -3.3rem;
			left: -3.6rem;

			& > img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.posts-block {

	&__img-left {
		width: 100%;
		height: 100%;

		& > img {
			width: 100%;
		}
	}

	&__img-right {
		width: 100%;
		height: 100%;

		& > img {
			width: 100%;
		}
	}
}

.posts-block {

	&__circle-right {
		position: absolute;
		width: 4.9rem;
		height: 4.9rem;
		top: -2.4rem;
		right: -2.4rem;

		& > img {
			width: 100%;
			height: 100%;
		}
	}

	&__img-left {
		width: 100%;
		height: 100%;

		& > img {
			width: 100%;
		}
	}
}

.posts-block {
	&__col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&:not(:last-child) {
			margin-right: .9rem;
		}
	}

	&__large {
		width: 47.7rem;
		height: 48.7rem;
		margin-right: .9rem;

		& > img {
			display: block;
			height: 100%;
		}
	}
}


@media (max-width: 666px) {
	.posts {
		&-top__text-subtitle {
			& > p {
				font-size: 4rem;
				line-height: 4.5rem;
				text-align: center;
			}
		}
	}
	&-top__text-title {
		& > h3 {
			font-size: 6rem;
			line-height: 7.25rem;
		}
	}



	.posts {
		&-inner {
			justify-content: center;
			height: 100%;
			display: flex;
		}

		&-block__col:not(:last-child) {
			margin-right: 0;
		}

		&-block__col:first-child {
			margin-right: 2.25rem;
		}
	}

	.posts-block {
		width: 35rem;
		height: 35rem;

		&:not(:last-child) {
			margin-bottom: 2.25rem;
		}

		&__large {
			display: none;
		}

		&__right,
		&__eight {
			display: none;
		}

		&__circle-left {
			display: none;
		}
	}
}

