.proposition {
	padding: 10rem 0;

	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5rem;
	}
}

.proposition-card {
	max-width: 20rem;
	display: flex;
	flex-direction: column;

	&__wrap {
		margin-bottom: 4rem;

		& .proposition-card__wrap-inner {
			height: 20rem;
			z-index: 11;
			overflow: visible;
			position: relative;

			& > picture {
				width: 100%;
				height: 100%;

				& > img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

.proposition-card__wrap {
	&-left > * {
		right: 2.7rem;
	}

	&-right > * {
		left: 1.2rem;
	}

	& > picture {
		display: block;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}


.proposition-card {
	&__text {
		height: 7rem;

		& > p {
			text-align: center;
			@extend %roboto-400;
			font-size: 1.6rem;
			color: $gray;
			line-height: 150%;
			height: 100%;
		}
	}

	&__description {
		margin-bottom: 2rem;

		& > * {
			display: block;
			text-align: center;
			@extend %bebasneue-700;
			font-size: 2.4rem;
			line-height: 100%;
			letter-spacing: 0.05em;
		}
	}

}

.proposition {
	&-title {
		display: block;
		text-align: center;
		margin-bottom: 4rem;

		& > * {
			@extend %bebasneue-700;
			font-size: 4.8rem;
			line-height: 4.8rem;
		}
	}
}


.proposition-btn {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s linear;

	&:hover > a {
		border: .1rem solid $green-600;
		background-color: #fff;
		color: $green-600;
	}

	& > a {
		transition: all .3s linear;
		border: .1rem solid transparent;
		text-align: center;
		display: block;
		text-transform: uppercase;
		background-color: $green-600;
		border-radius: 5rem;
		padding: 2.2rem 8.4rem 1.9rem;
		@extend %bebasneue-700;
		font-size: 2.9rem;
		line-height: 2.9rem;
		color: $white;
	}
}

.proposition {

	&-line {
		display: flex;
		flex-basis: 100%;
		background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
		width: 9rem;
		height: .1rem;

		&__wrap {
			display: none;
			position: relative;
			padding-top: 3rem;
		}

		&__img {
			display: flex;
			justify-content: center;
		}

		&__left {
			position: absolute;
			left: -6.2rem;
			bottom: 0.4rem;
		}

		&__right {
			position: absolute;
			right: -6.2rem;
			bottom: 0.4rem;
		}
	}
}

@media(max-width: 666px) {
	.proposition {
		&-inner {
			flex-direction: column;
		}

		&-line__wrap {
			display: block;
		}

		&-title {
			margin-bottom: 15rem;
		}
	}

	.proposition-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 100%;

		&__wrap {
			margin-bottom: 15rem;
			width: 52.75rem;
			height: 39.75rem;

			& > .proposition-card__wrap-inner {
				height: 4.25rem;

				& > img {
					height: 4.25rem;
				}
			}
		}

	}

	.proposition {
		&-line {
			width: 22.5rem;
			height: .25rem;

			&__left {
				left: 26.2rem;
			}

			&__right {
				right: 26.2rem;
			}
		}
	}
	.proposition-card {
		&__text {
			height: 100%;

			& > p {
				font-size: 4.5rem;
			}
		}

		&__description {
			& > span {
				font-size: 4.5rem;
				line-height: 5.5rem;
			}
		}
	}
	.proposition-btn > a {
		font-size: 6rem;
		line-height: 100%;
		padding: 5.5rem 24.5rem 4.75rem;
	}
}
