.form {
	padding: 10rem 0;
	background-color: $green-100;
	position: relative;

	&-top {
		&__title {
			&_wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 3rem;
			}

			&_inner {
				display: flex;
				align-items: center;
			}

			&_text {
				width: 100%;
				padding-left: 7rem;
				margin-bottom: 2rem;
			}
		}
	}

	&-top__title {
		&_text > h6 {
			@extend %roboto-700;
			font-size: 1.4rem;
			color: $green-600;
			line-height: 1.6rem;
			letter-spacing: 0.25em;
			text-transform: uppercase;
		}

		&_line {
			margin-right: 2rem;
		}

		&_heading > p {
			@extend %bebasneue-700;
			color: #000;
			font-size: 4.8rem;
			line-height: 100%;
		}
	}

	&-top__box {
		&_img {
			display: none;
		}
	}

	&-title__wrap {

		&_heading {
			max-width: 111rem;
			margin-bottom: 4rem;
			justify-content: center;
			display: flex;

			& > p {
				@extend %bebasneue-700;
				font-size: 9.6rem;
				line-height: 100%;
				letter-spacing: 0.02em;
				text-transform: uppercase;

				& > span {
					color: $green-600;
				}
			}
		}
	}
}

.form {
	&-subscribe {
		position: relative;

		&__img {
			width: 12rem;
			height: 12rem;
			top: -5.8rem;
			left: -7rem;
			position: absolute;

			& > img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&-subscribe__text {
		max-width: 55rem;

		& > p {
			font-size: 1.2rem;
			line-height: 150%;
			color: #C4C4C4;

			&:hover {
				color: #9c9c9c;
			}
		}
	}

	&-subscribe__text > p {
		& > a {
			color: #C4C4C4;
			text-decoration-line: underline;
			transition: all linear .25s;

			&:hover {
				color: $green-600;
			}
		}
	}
}

.form-email__submit {
	& > button {
		transition: all .3s linear;
		border-radius: 5rem;
		padding: 2.2rem 10.7rem 1.9rem 10.5rem;
		background-color: $green-600;
		@extend %bebasneue-700;
		color: $white;
		text-transform: uppercase;
		font-size: 2.9rem;
		border: .1rem solid transparent;
		line-height: 100%;
	}
}

.form-email {
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top-right-radius: 5rem;
	border-bottom-right-radius: 5rem;
	padding: 1.5rem 0 1.5rem 3rem;
	background-color: #fff;
	max-width: 59.5rem;
	margin-bottom: 1rem;

	&__submit {
		padding-right: 1.5rem;
		transition: all .3s linear;

		&:hover {
			& > button {
				border: .1rem solid $green-600;
				background-color: #fff;
				color: $green-600;
			}
		}
	}
}

.form-email__input {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 22rem;

	& > input {
		@extend %roboto-400;
		border: .1rem solid transparent;
		color: #212121;
		font-size: 2.6rem;

		&::placeholder {
			font-size: 1.4rem;
			line-height: 150%;
			color: #C4C4C4;
		}
	}

	& > label {
		@extend %roboto-400;
		position: absolute;
		bottom: -4rem;
		font-size: 1.4rem;
		line-height: 110%;
		color: #212121;
	}
}


.form-box__img {
	max-width: 70rem;
	height: 47rem;
	position: absolute;
	right: 4.5rem;
	bottom: 4.5rem;
	z-index: 111;

	& > img {
		width: 100%;
		height: 100%;
	}
}


@media(max-width: 666px) {
	.form {
		&-title__wrap_heading {
			max-width: 100%;
			& > p {
				width: 50%;
				font-size: 3.2rem;
				text-align: center;
			}
		}

		&-top__title_heading {
			width: 100%;

			& > p {
				text-align: center;
				font-size: 2.4rem;
				line-height: 2.9rem;
			}
		}

		&-top__title_wrap {
			justify-content: center;

			& > p {
				max-width: 50%;
			}
		}

		&-top__title_line {
			order: -1;
			margin-right: 0;
		}

		&-top__title_text {
			text-align: center;
			padding-left: 0;
			margin-bottom: 2.7rem;

			& > h6 {
				font-size: 1.6rem;
				line-height: 1.8rem;
			}
		}
	}


	.form {
		&-top__box_img {
			display: block;
			max-width: 36.8rem;
			height: 19.6rem;

			& > img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

	}

	.form {

		&-subscribe__img {
			display: none;
		}

		&-box__img {
			display: none;
		}

		&-subscribe {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.form {
		&-email {
			flex-direction: column;
			background: transparent;
			padding: 0;
			width: 31.2rem;
			height: 13.8rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&__submit {
				display: block;
				width: 100%;
				max-height: 6rem;
				padding-right: 0;

				& > button {
					border-radius: 5rem;
					width: 100%;
					padding: 1.7rem 0 1.5rem 0;
					font-size: 2.4rem;
					line-height: 2.4rem;
				}
			}
		}
	}

	.form-email__input {
		max-height: 6rem;
		background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
		height: 100%;
		width: 100%;
		padding: .25rem;
		max-width: 100%;

		& > label {
			font-size: 1.4rem;
		}

		& > input {
			position: relative;
			z-index: 999;
			width: 100%;
			background: $white;
		}
	}

	.form-subscribe__text {
		display: none;
		& > p {
			text-align: center;
			font-size: 1.2rem;
		}
	}
}
