.reviews {
	padding-top: 10rem;
	padding-bottom: 12.6rem;
	position: relative;

	&-inner {
		position: relative;
		z-index: 111;
	}

	&-content {
		&__top {
			margin-bottom: 5rem;

			&-title {
				& > h6 {
					@extend %bebasneue-700;
					font-size: 4.8rem;
					line-height: 4.8rem;
				}
			}
		}
	}
}

.reviews-subtitle {
	@extend %roboto-700;
	color: $green-600;
	font-size: 1.4rem;
	line-height: 1.6rem;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.reviews-content {
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-img {
			max-width: 62.6rem;
			max-height: 50rem;

			& > img {
				display: flex;
				flex-shrink: 111;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.reviews-content__item {
	max-width: 62.5rem;

	&-top {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 56.5rem;
		margin-bottom: 3.2rem;
	}

	&-stars {
		display: flex;
		align-items: center;
		margin-right: .5rem;
	}

	&-star {
		margin-right: .3rem;
	}
}

.reviews-content__item {
	&-client {
		display: none;
	}

	&-line {
		width: 6.4rem;
		height: .9rem;
	}
}

.reviews-content__item {
	&-score {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 50%;
	}

	&-num {
		@extend %roboto-400;
		font-size: 1.4rem;
		line-height: 180%;
		color: $gray-100;
	}

	&-name {
		@extend %bebasneue-700;
		width: 49%;
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin-bottom: 4.8rem;
		letter-spacing: 0.05em;
	}
}

.reviews-content__item {
	&-score {
		justify-content: flex-end;
	}

	&-text {
		width: 100%;

		& > p {
			@extend %roboto-400;
			font-size: 1.6rem;
			line-height: 180%;
			color: $gray;
		}

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&-message {
		padding-right: 5.7rem;
	}
}

.reviews-content__bottom {
	&-con {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	&-slider {
		width: 43%;
	}

	&-wrap {
		width: 100%;
		margin-bottom: 5rem;
	}
}

.reviews-bg {
	top: 6rem;
	left: 0;
	right: 0;
	position: absolute;

	& > picture {
		& > img {
			width: 100%;
			height: 100%;
		}
	}
}


@media(max-width: 666px) {
	.container {
		max-width: 144rem;
	}

	.reviews-bg {
		display: none
	}

	.reviews-content__top {
		text-align: center;
		width: 100%;

		&-title {
			& > h6 {
				font-size: 6rem;
				line-height: 7.25rem;
			}
		}
	}

	.reviews-content__top-subtitle {
		& > span {
			font-size: 4rem;
			line-height: 4.5rem;
			letter-spacing: 0.1em;
		}
	}

	.reviews-content__bottom-img {
		display: none;
	}

	.reviews-content__item {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.reviews-content__item-top {
		align-items: center;
		width: 141.25rem;
		height: 32.25rem;
		justify-content: flex-end;
		position: relative;
		flex-direction: column;
	}

	.reviews-content__item-star {
		.stars {
			width: 4rem;
			height: 4rem;
		}
	}

	.reviews-content__item-score {
		margin-bottom: 5rem;
		justify-content: center;
	}

	.reviews-content__item-name {
		display: flex;
		justify-content: center;
		font-size: 4.5rem;
		line-height: 5.5rem;
		margin-bottom: .75rem;
	}

	.reviews-content__item-client {
		top: 2rem;
		position: absolute;
		display: block;
		width: 22.5rem;
		left: -8rem;

		& > img {
			width: 100%;
			height: 20rem;
		}
	}

	.reviews-content__item-line {
		display: flex;
		justify-content: flex-end;
		width: 15rem;
		height: 1.5rem;

		& > svg {
			height: 100%;
		}
	}

	.reviews-content__item-text {
		& > p {
			font-size: 3.5rem;
			line-height: 180%;
		}
	}

	.reviews-content__bottom-slider {
		width: 100%;

		& .swiper-navigation {
			justify-content: center;
			width: 100%;

			& > div {
				width: 7.5rem;
				height: 7.5rem;
			}
		}
	}

	.reviews-content__item-num {
		font-size: 4.5rem;
		line-height: 180%;
	}

	.verticalScroll::-webkit-scrollbar {
		width: 4.25em;
	}

	.verticalScroll::-webkit-scrollbar-track {
		border: .5rem solid transparent;
	}
}

